*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 32px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.smallImg{
    border: 2px solid grey;
    width: 250px;
    height: 250px;
    padding:16px
}

.smallImg img{
    width: 150px;
    height: 150px;
}


#bigCard{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.modelContent{
    background-color: aqua;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 9;
}

#model{
    width: 80%;
    height: 70vh;
    background-color: antiquewhite;
    position: fixed;
    top: 10%;
    left: 10%;
    /* z-index: 10; */
}

.hidden{
    display: none;
}